*{
    background-color: #B1C436;
    background-repeat: repeat;
    margin: 0%;
    padding: 0%;
}
#prev{
    z-index: 9;
    display: block;
    max-block-size: 300%;
    max-width: 400px;
    margin-top: 0px;
}
#showbox{
    margin-top: 10px;
}
#depa{
    text-align: center;
    position: relative;
}
.swiper-container {
    width: 80%;
    height: 80%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
#btn10{
    margin: 10px;
    margin-left: 88px;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
}
.swiper-button-prev{
    background-image: url("../img/swiper/button/1.png");
    /* margin-left: -37px; */
}
.swiper-button-next{
    background-image: url("../img/swiper/button/2.png");
}
p{
    max-width: 70%;
    text-align: left;
}