*{
    background-color: white;
    margin: 0;
    padding: 0;
}
#depa{
    text-align: center;
    position: relative;
    padding-left: 6%;
    padding-right: 11%;
    font-family: Microsoft YaHei;
    font-weight: lighter;
    color: dimgrey;
}
/* #left_btn{
    float: left;
    margin-top: 100px;
    vertical-align: -webkit-baseline-middle;
}

#right_btn{
    float: right;
    vertical-align: -webkit-baseline-middle;
} */
/* .swiper-container{
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    max-width: 668px;
    max-height: 400px;
} */
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
#btn10{
    margin: 100px;
    text-align: center;
}