*{
    /* background-image: url("../img/pictures/background.png"); */
    background-color: #B1C436;
    background-repeat: repeat;
    margin: 0%;
    padding: 0%;
}
/* #background{
    background-size: auto 100%;
    background-repeat: no-repeat;
} */
body,div{
    background: none;
}
#box1{
    max-height: 180%;
    display: table;
}
#bbt{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    /* padding-left: 11%;
    padding-right: 11%; */
    margin: auto;
    /* color: dimgrey; */
    max-width: 100%;
}
img{
    margin-top: 12%;
    max-width: 108%;
}
#check_box{
    display: none;
    background: none;
    margin-top: 35%;
    margin-left: 20%;
    vertical-align: middle;
    text-align: center;
    max-width: 200%;
    vertical-align: middle;
    background: none;
    /* background-image: url("../img/pictures/3.png");
    background-repeat: no-repeat;
    background-position-x:left;
    background-position-y:bottom;  */
}
.button{
    margin-top: -0.9%;
    margin-left: -5%;
    text-align: center;
}
label{
    display: table-row;
    background: none;
}
.text{
    width: 120%;
    padding: 1%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
     width: 110%;
    margin-bottom: 1%;
    padding: 2.3%;
    background-color: #dee6a8;
    border-radius: 2em;
    border:1px solid#c8cccf;
    font-size:0.8em;

}
input[type="text"],input[type="tel"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    display:block;
    outline:0;
    text-decoration:none;
    max-width:65%;
    padding-bottom: 3%
}
.prev{
    position: absolute;
    top:0%;
    top: 0%;
    display: block;
    /* margin-left: -11.5%; */
    left: 0%;
    width: -webkit-fill-available;
    background: none;
    padding: 0%;
    background: none;
}
#bgimg1{
    position:fixed;
    bottom: 0%;
    width: -webkit-fill-available;
    max-width: 100%;
    z-index: -1;
    left: 4%；s
}
input{
    background: none;

}
#attention{
    display: none;
    z-index: 10;
    background-color: #dee6a8;
    border-radius:4px;
    border:1px solid #c8cccf;
    font-size: 0.8em;
    padding: 1.4%;
    color: #707070;
    font-size: 1.1em;
    background-color: #dee6a8;
    border-radius:0.3em;
    /* margin-left: 25%; */
    max-width: 64%;
}
#successbox{
    display: block;
    z-index: 10;
    max-width: 100% ;
    color:  #707070;
    font-size: 1em;
    text-align: center;
}
#hiddenbox{
    display: block;
    background: none;
}
label,.grade,.sex{
    color: #707070;
    background: none;
}
select{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    margin-bottom: 3%;
    opacity: 0.8;
    border:1px solid #c8cccf;
    display:block;
    outline:0;
    text-decoration:none;
    padding-bottom: 3%;
    display: block;
    outline: 0;
    text-decoration: none;
    max-width: 65%;
    padding-bottom: 3%;
    width: 25em;
    padding: 2.3%;
    background-color: #dee6a8;
    border-radius: 2em;
    border: 1px solid#c8cccf;
    font-size: 0.8em;
}
#introduction{
    display: none;
    padding-right: 25%;
    padding-bottom: 15%;
    background-color: #dee6a8;
    opacity: 0.8;
    font-size: 0.8em;
    /* height: 2.2em; */
    border-radius:4px;
    margin-right: 26%;
    border:1px solid #c8cccf;
}