*{
    /* background-image: url("../img/pictures/background.png"); */
    background-color: #B1C436;
    background-repeat: repeat;
    margin: 0%;
    padding: 0%;
}
/* #background{
    background-size: auto 100%;
    background-repeat: no-repeat;
} */
#box1{
    max-height: 180%;
    display: table;
}
#bbt{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    /* padding-left: 11%;
    padding-right: 11%; */
    margin: auto;
    /* color: dimgrey; */
    max-width: 100%;
}
img{
    max-width: 100%;
}
#check_box{
    display: none;
}
.button{
    text-align: center;
}
label{
    display: table-row;
}
.text{
    width: 120%;
    padding: 1%;
}
input[type="text"],input[type="tel"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    display:block;
    outline:0;
    text-decoration:none;
    max-width:65%;
}
.prev{
    position: fixed;
    margin-top: -36%;
    margin-left: -11.5%;
    padding: 0%;
}