*{
    background-color: white;
}
h1{
    text-align: center;
    position: relative;
    padding-left: 11%;
    padding-right: 11%;
    margin: auto;
    font-family: Microsoft YaHei;
    font-weight: lighter;
    color: dimgrey;
}
#box1{
    margin:auto;
}
.button{
    text-align: center;
}
.input{
    display: none;
    position: relative;
    left: 47%;
}