*{
    background-color: white;
}
h1{
    text-align: center;
    padding-left: 6%;
    padding-right: 11%;
    font-family: Microsoft YaHei;
    font-weight: lighter;
    color: dimgrey;
}
#input{
    margin-left: 88;
}
#tel{
    padding: 5px;
}
#selfintro{
    padding-right: 15px;
}